<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title> Signin to {{name}} </title>
    <style>
      html {
        position: relative;
        min-height: 100%;
      }
      body {
        margin-bottom: 30px;
      }
      .footer {
        position: absolute;
        bottom: 0;
      }
    </style>
  </head>
  
  <body>

    <div class="container">
      <header class="row pb-2 mt-4 mb-2 border-bottom" id="sec_banner" >
        <div class="col-8 text-center">
          <h1>Signin to {{name}} </h1>
        </div>
        <div class="col-4 d-none d-sm-block">
          <a href="#"><img src="{{logo}}" alt="logo"></a>
        </div>
      </header>

      <section class="row" id="sec_feed_back" style="display: none;" >
        <div class="alert alert-warning col-lg-6 offset-lg-3"> - </div>
      </section>

      <section class="row m-1" id="sec_form">
        <div class="col-12 col-md-9 col-lg-6">
          <form method="post">
            <input type="hidden" name="session_id" value="{{session_id}}" />
            <div>
              <strong>{{name}}</strong> requests access to: <em>{{scopes}}</em>
            </div>
            <div class="form-group">
              <label for="user_id"> Id: </label>
              <input type="text" class="form-control" name="user_id" id="user_id"
                     value="{{user_id}}"
                     autocomplete="username" required autofocus >
            </div>
            <div class="form-group">
              <label for="user_pwd"> Password: </label>
              <input type="password" class="form-control" name="user_pwd" id="user_pwd"
                     autocomplete="current-password" required >
            </div>
            <div class="form-check" style="{{remember_me_display_none}}" >
              <input type="checkbox" class="form-check-input" name="remember_me" id="remember_me"
                     >
              <label for="remember_me" > Remember me </label>
            </div>
            <button type="submit" class="btn btn-primary" formaction="login"> Sign in </button>
            <button type="submit" class="btn btn-primary" formaction="login?cancel=1" formnovalidate> Cancel </button>
          </form>
        </div>
      </section>
    </div>

    <div class="container">
      <footer class="footer">
        <small class="text-muted"> mayatsu - {{id}} </small>
      </footer>
    </div>

    <script>
      let feed_back   = '{{feed_back}}'.split( ':' );
      let hide_banner = false;
      let hide_form   = false;
      let message     = '';
      //
      switch ( feed_back[0] ) {
        case '':
          break;
        case 'timeout':
          message     = 'Session expired';
          hide_form   = true;
          hide_banner = true;  // because then even client details are gone
          break;
        case 'captcha':
          message = 'CAPTCHA validation failed <br/>' +
                    '(are you a human)?';
          break;
        case 'forbidden':
          message = 'Invalid account or password';
          break;
        case 'banned':
          message = 'Your account is locked for another ' +
                    feed_back[1] +
                    ' seconds';
          break;
        default:
        case 'error':
          message     = 'An error occured. <br/>' +
                        'Please try again later.';
          hide_form   = true;
          hide_banner = true;  // not sure details are set
          break;
      }      
      //
      if ( hide_form )
        $('#sec_form').hide();
      //
      if ( hide_banner )
        $('#sec_banner').hide();
      //
      if ( message )
        $('#sec_feed_back').show().find('div').html( message );
    </script>
  </body>
</html>
